@import-normalize;

.employers {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

  img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  p {
    flex: 1;
    margin-inline: 1rem;
    font-size: 1.5rem;
  }


}